<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yukpesan.tian.yukpesan">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon2"
        android:label="Yuk Pesan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash_screen"
            android:label="Yuk Pesan"
            android:theme="@style/BlankPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login">
        </activity>
        <activity android:name=".home">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".page_food">
        </activity>
        <activity android:name=".page_drinks">
        </activity>
        <activity android:name=".page_snack">
        </activity>
        <activity android:name=".detail_menu">
        </activity>
    </application>

</manifest>
